* {
    box-sizing: border-box;
}

#game-screen {
    display: table;
    border: 2px solid black;
    padding: 0 0;
}

.game-row {
    display: table-row;
}

.game-col {
    display: table-cell;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
}

/*

#game-menu {
    margin-top: 1rem;
    padding: 1rem;
    border: 2px dotted green;
}

#game-init-menu {
    float: left;
}

#game-menu button {
    display: flex;
}

#game-up-button, #game-down-button {
    margin: 0 auto;
}

#game-left-right-button {
    display: flex;
    margin: 1rem 0;
}

#game-left-button {
    margin-right: 2rem;
} */