* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    background-color: #E5E5E5;
}

#game-area {
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: white;
}

#game-section {
    display: table;
    margin: 1rem auto;
    /* border: 10px solid blue; */
}

#game-screen {
    width: 60%;
    float: left;
    margin-right: 1rem;
    background-color: #6C4B4B;
    border: 1px solid black;
}

#game-menu {
    width: 35%;
    float: right;
    /* border: 5px dotted green; */
}

#game-init-menu, #game-controller-menu, #game-scoreboard {
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    border-radius: 1rem;
}

#game-init-menu {
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
}

#game-init-menu button {
    margin: 0rem 0.5rem;
}

#game-controller-menu {
    background-color: dodgerblue;
}

#game-controller-menu .d-flex {
    justify-content: center;
}

#game-controller-menu .left-right {
    justify-content: space-evenly;
}

#game-scoreboard {
    font-size: 1.2rem;
    text-align: center;
    background-color: gainsboro;
}

#game-scoreboard::before {
    content: "Score:";
}

#dev-message {
    opacity: 70%;
    font-size: 0.8rem;
    text-align: center;
    border-bottom: 1px solid black;
}

/* MEDIA QUERY */
@media screen and (max-width: 767px) {
    body {
      background-color: lightgreen;
    }

    #game-menu {
        margin-top: 1rem;
    }

    #game-screen, #game-menu {
        float: none;
        width: 100%;
    }
}